
:root {
  font-size: 16px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 10 px;
}

.FormContainer {
  margin-top: 2rem;
}

form#LoginForm {
  margin: auto;
  width: 50%;
}

div.FormField {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.Button {
  margin-top: 1rem;
}

div.FormContainer > a {
  margin: 0;
  font-size: 13px;
}
